name: Publish to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - uses: AlienKevin/flutter-gh-pages@v9
        with:
          baseHref: /study_spaces/
          customArgs: --source-maps